@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --rdg-color-scheme: dark;
  color-scheme: light dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3b3b3b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.rdp-root {
  --rdp-accent-background-color: var(--color-blue-950);
}
